@import url('/css/layout/fonts.css');
@import url('/css/layout/footer.css');
@import url('/css/layout/navbar.css');
@import url('/css/reusable/card.css');
@import url("/css/reusable/publications.css");

:root{
    --wt: #fff;
    --bk:#000;
    --gy: #a7a7a7;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html{
    display: grid;
}

body{
    background-color: var(--bk);
    color: var(--wt);
    width: 800px;
    place-self: center;
    font-family: "Oswald", sans-serif;;
}


h1, h2, h3{
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    &.cumprimentos{
        margin-bottom: 40px;
    }
}

p{
    font-size: 18px;
    letter-spacing: 1px;
    text-align: justify;
}

article{
    margin: 20px 0px 20px 0px;

    &.CardArticle{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center center;
    }
    
    & ul{
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;

        & li{
            color: var(--gy);
            margin: 10px 0px 10px 0px;
        }
    }

    & label{
        font-size: 18px;
    }
}

