footer{
    border-top: var(--wt);
    height: 80px;
    display: grid;
    place-content: center start;
    position: absolute;
    bottom: 0px;
    
    & p{
        
        font-size: 18px;
    }

    & a{
        color: var(--wt);

        &:hover{
            text-decoration: underline;
        }

        & img{
            width: 20px;
            height: 20px;
            background-color: var(--wt);
            border-radius: 5px;
        }
    }

}